.body{
    background: #b6bcc5;
}

.height{
    height: 100vh;
}

.form{
    position: relative;
}

.form-label{
    font-weight: bold;
    margin-top: 20px;
}

.form-select{
    width: 200px;
    border-radius: 10px;
}

.form .fa-search{
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;
}

.form span{
    position: absolute;
    right: 20px;
    top: 13px;
    padding: 2px;
    padding-left: 20px;
    border-left: 1px solid #d1d5db;
}

.left-pan{
    padding-left: 7px;
}

.date-picker{
    border: none;
    width: 110px;
}

.left-pan i{
    padding-left: 10px;
}

.form-input{
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
    border-color: 000;
    padding-left: 50px;
    padding-right: 200px;
}

.form button{
    margin-top: 20px;
    text-align: center;
}