.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.card {
  margin: 20px; /* Add margin to individual cards */
}

.filter {
  padding-left: 150px;
  padding-top: 30px;
}