<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee's Login Form</title>
</head>
<body>

<form action="" method="POST">
    <span>Username</span>
    <input type="text" name="username" id="username" required>
    <span>Password</span>
    <input type="password" name="password" id="password" required>
    <span>Category</span>
    <select name="category" id="category">
        <option value="Admin">Admin</option>
        <option value="Manager">Manager</option>
        <option value="Waiter">Waiter</option>
    </select>
    <input type="submit" value="Login">
</form>
{% with message = get_flashed_messages() %}
    {% if message %}
        {% for msg in message %}
            <h4><b>{{msg}}</b></h4>
        {% endfor %}
    {% endif %}
{% endwith %}

</body>
</html>