{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='particulars_form_style.css') }}">
{% endblock style %}

{% block body %}
    <div class="container">
        <h3>Your booking for time variable here</h3>

        <form method="POST" action="/form"> 
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="number" class="form-control" id="phone" name="phone">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            </div>

            <div class="mb-3">
                <label for="FormControlInputSize" class="form-label">Party Size</label>
                <select class="form-select form-control" id="size" name="size">
                    <option value="1">1 person</option>
                    <option value="2">2 people</option>
                    <option value="3">3 people</option>
                    <option value="4">4 people</option>
                    <option value="5">5 people</option>
                    <option value="6">6 people</option>
                    <option value="7">More than 6 people</option>
                </select>
            </div>

            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
{% endblock body %}

