{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='restaurant_list_style.css') }}">
{% endblock style %}

{% block body %}
    <div class="container container-accordion">
        <div class="accordion">
            <!-- Iterate through restaurant_data and populate each clickable item -->
            {% for restaurant in restaurant_data %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <a href="/restaurant/{{ restaurant.name | replace(' ', '_') }}" class="accordion-button">
                        {{ restaurant.name }} <!-- Display restaurant name dynamically -->
                    </a>
                </h2>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
