{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='restaurant_view_style.css') }}">
{% endblock style %}


{% block body %}
<div class="card-container">

    {% for restaurant in restaurant_data %}
    <div class="card" style="width: 18rem;">
        <img src={{ restaurant.image }} class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ restaurant.name }}</h5>
            <p class="card-text">{{ restaurant.dietary_needs }}</p>
            <p class="card-text">Meal Type: {{ restaurant.meal_type }}</p>
            <p class="card-text">Timeslot: {{ restaurant.timings }}</p>
            <a href="{{ url_for('restaurant_profile', id=restaurant.id) }}" class="btn btn-primary">View</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}
