{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='restaurant_view_style.css') }}">
{% endblock style %}


{% block body %}
<div class="card-container">
<!-- Add a dropdown menu for sorting options -->
<form method="GET" action="{{ url_for('restaurants_view') }}">
    <label for="rating_order">Sort by Rating:</label>
    <select id="rating_order" name="rating_order">
        <option value="default" {% if rating_order == 'default' %}selected{% endif %}>Default</option>
        <option value="high_to_low" {% if rating_order == 'high_to_low' %}selected{% endif %}>High to Low</option>
        <option value="low_to_high" {% if rating_order == 'low_to_high' %}selected{% endif %}>Low to High</option>
    </select>

    <label for="min_ratings">Minimum Number of Ratings:</label>
    <input type="number" id="min_ratings" name="min_ratings" value="{{ min_ratings }}" />

    <button type="submit" class="btn btn-secondary">Apply</button>
</form>

    {% for restaurant in restaurant_data %}
    <div class="card" style="width: 18rem;">
        <img src={{ restaurant.image }} class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ restaurant.name }}</h5>
            <p class="card-text">Dietary: {{ restaurant.dietary_needs }}</p>
            <p class="card-text">Meal Type: {{ restaurant.meal_type }}</p>
            <p class="card-text">Rating: {{ restaurant.rating }}/5</p>
            <p class="card-text">Rated By: {{ restaurant.numberofrating }} people</p>
            <p class="card-text">Timeslot: {{ restaurant.timings }}</p>
            <a href="{{ url_for('restaurant_profile', id=restaurant.id) }}" class="btn btn-primary">View</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}
