<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

<div class="side-menu">
    <ul>
        <li><a href="/admin_main">Main Page</a></li>
        <li><a href="/online_reservations">Online Reservations</a></li>
        <li><a href="/subscribers">Subscribers</a></li>
        <li><a href="">Tables Management</a></li>
        <li><a href="">Menu & Prices</a></li>
        <li><a href="/client_support">Client Support</a></li>
        <li><a href="/employees">Employees</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

{% block content %}{% endblock %}

</body>
</html>